html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Courier New', monospace;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Hide scrollbars globally */
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

#root {
  min-height: 100vh;
}
